@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*
{
    background: rgb(201, 201, 201);
    font-family: 'Dancing Script', cursive;
}
#main {
  max-width: 300px;  
  margin: 0 auto;
}
img {
    max-width: 100%;
}

